.m{
    margin-top: 8% !important;
}
#grizzly{
    font-size:80px;
    letter-spacing: 10px;
    font-weight: 500;
}

.n{
    background-color: #f2f2f2; 
    padding: 10px;
}
.nav-brand{
    font-size:15px;
    letter-spacing: 5px;
    font-weight: 500;
}
.profile{
    padding: 20px;
    margin: 25px;
}
.profile-text{
    text-align: center;
}
input[type=text],
input[type=text]:hover,
input[type=text]:focus,
input[type=text]:active
{
    border: 0 !important;
    outline: none !important;
    outline-offset: 0 !important;
    margin:5px 0px !important;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black !important;
  opacity: 1 !important; /* Firefox */
}
.top-buffer { margin-top:20px; }
.right-buffer { margin-right:20px; }
.btn-flex{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}
table {
border-collapse: collapse;
} 
td, th {
border-left: solid 1px #cdcdcd;
} 
th{
    color: #cdcdcd;
    font-weight: 400;
}
table tr:first-child td {
  border-top: 0;
}
table tr:first-child th {
  border-top: 0;
}

table tr td:first-child {
  border-left: 0;
}
table tr:last-child td {
  border-bottom: 0;
}

table tr td:last-child {
  border-right: 0;
}
.no-border {
border-left: none;
}
.no-border1 {
border-right: none;
}

.round {
  position: relative;
}

.round label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 28px;
  left: 0;
  position: absolute;
  top: 0;
  width: 28px;
}

.round label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 12px;
}

.round input[type="checkbox"] {
  visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
  background-color: #000000;
  border-color: #000000;
}

.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}
